.wrap {
    flex-wrap: wrap;
}

.wrap .flex-item {
    background-color: hsl(185, 75%, 39%);
}

.alinear {
    position: relative;
    left: 25%;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-container {
    grid-column-start: 2;
    align-self: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    height: 600px;
    width: 400px;
    background-color: rgb(21, 42, 59);
}

.flex-container2 {
    /*  display: flex; */
    height: 500px;
    width: 400px;
    background-color: rgb(12, 24, 34);
    margin: 0px 0px;
    border-radius: 30px;
}

.flex-container3 {
    /* position: relative; */
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    height: 70%;
    width: 100%;
    background-color: rgb(12, 24, 34);
}

.container1 {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: repeat(1, 100%) / repeat(3, 33%);
    gap: 10%px;
    justify-self: flex-end;
    justify-content: flex-end;
}

.container2 {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template: repeat(4, 25%) / repeat(5, 20%);
    gap: 10%px;
    justify-self: flex-end;
    justify-content: flex-end;
}

.container3 {
    display: grid;
    height: 30%;
    width: 100%;
    grid-template: repeat(3, 30%) / repeat(1, 100%);
    justify-self: flex-end;
    justify-content: flex-end;
}

.item {
    color: rgb(166, 169, 172);
    margin: 100px 10px;
    border-radius: 100%;
    height: 60%;
    width: 65%;
    text-align: center;
}

.item2 {
    color: rgb(206, 206, 206);
    margin: 100px;
    background-color: rgb(25, 162, 204);
    border-radius: 15% 15%;
    height: 160%;
    width: 60%;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.item3 {
    color: aliceblue;
    margin: 100px;
    background-color: rgb(23, 39, 54);
    border-radius: 100% 100%;
    height: 60%;
    width: 60%;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.item4 {
    opacity: 100%;
    font: 2px;
    color: rgb(255, 255, 255);
    margin: 0px -20px;
    border-radius: 100%;
    height: 60%;
    width: 100%;
    text-align: right;
}