.contenedor1  {
	background-color:rgb(26, 25, 25);
	
	font-family: Helvetica;
	color: white;
	text-align: right;
	text-size-adjust: 30%;
	font: 24px;
	height: 70px;
}

p{
	/* font-family: Helvetica; */
	size: 24px;
}
h{
	size:36px;
}

.formulario{
width: 90%;
align-self: center;
margin-left: 10%;
/* horizontal-margin: 10%; */
}
.formulario h1{
	size:36px;
	color:#333 ;
	font-family: Helvetica;
}
label{
	font-family: Helvetica;
}
input{
	width: 88%;
	min-height: 30px;
	
}


.button {
	background-color: #333; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
  }
  .topnav {
	background-color: #333;
	overflow: hidden;
	font-family: Helvetica;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: right;
	color: #6b6b6b;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  .topnav span {
	float: left;
	color: #b3b3b3;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	
	color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	color: rgb(77, 76, 76);
  }
  .tabla{
	font-family: Helvetica;
	border-collapse: collapse;
	width: 90%;
	margin: 5%;
	/* color:#4CAF50; */
  }
  .tabla th{
	background-color:#4CAF50;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	
	color: black;
  }
  .tabla tr:nth-child(even){background-color: #f2f2f2;}

  .tabla tr:hover {background-color: rgb(141, 216, 126);}

  .tabla td, .tabla th {
	border: 2px solid rgb(221, 221, 221);
	padding: 8px;
  }

  